
/***
网站收藏
*/

.siteWrap {
    padding: 25px;
}

.site {
    font-size: 24px;
    margin-right: 20px;
    font-weight: lighter;
}

.site:hover {
    cursor: pointer;
    font-weight: bolder;
    border-bottom: 5px solid #cdf563;
}
