body {
    margin: 0;
    background-color: #007ced;
    /* background-color: #fef5dd !important; */
}
::selection {
    background: #000;
    color: #fff;
}

.center {
    text-align: center;
}


/**
分页
 */
.noData {
    text-align: center;
    padding: 20px;
}

.paginator {
    display: flex;
    justify-content: center;
    height: 50px;
    line-height: 50px;
}
.paginator span {
    flex: 1;
    text-align: center;
    font-weight: 800;
    cursor: pointer;
}
.paginator .prev {
    background: #F037A5;
}
.paginator .next {
    background: #CDF564;
}



/**
分页器
 */

.pagination {
    display: flex;
    list-style: none;
    height: 40px;
    border-radius: 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
    padding: 0;
}

.pagination li a{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
}

.pagination li a:hover {
    font-weight: bolder;
}

.pagination li.active a {
    font-size: 24px;
    font-weight: bolder;
    pointer-events: none;
}


